.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background: white;
}

.footer__inner {
  height: 64px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}